
.container-fluiddd{
  background-image: url("../images/computer.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background:  rgba(48, 51, 107,.2);
}

.inicio{
    width: 100%;
    height: 530px;
    align-items: center;
    
  }

.polaroid {
    width: 284px;
    height: 60%;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    color: #000;
  }
  
.rotate_right {
    float: left;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg);    
  }


