
.container-fluiddd{
  background-image: url("../images/computer.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background:  rgba(48, 51, 107,.2);
  opacity: .2;
}

.inicio{
    max-width: auto;
    height: auto;
    align-items: center;
    padding: 40px;       
    background:  rgba(48, 51, 107,.2);
    
    
    
  }

.polaroid {
    width: 60%;
    height: 60%;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    color: #000;
  }
  
.rotate_right {
    float: left;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg); 
    justify-content: center;      
  }

  .rotate_left {
    float: right;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(-7deg); 
    justify-content: center;   
  }



 .jumbotron-row {
  padding-top: 20px;   
 }


 section {
   width: 100%;
   padding: 20px;
   background-color: darkgray;
 }
